:root {
    /* common */
    --containerMaxWidth: 1371px;

    /* fonts */

    --font-standart: 'Arial, sans-serif';
    --font-book: 'Futura PT Book';
    --font-FuturaBookCRegular: 'FuturaBookCRegular';
    --font-FuturaDemiCRegular: 'FuturaDemiCRegular';
    --font-FuturaFuturisCBold: 'FuturaFuturisCBold';
    --font-FuturaLightCRegular: 'FuturaLightCRegular';
    --font-FuturaFuturisCRegular: 'FuturaFuturisCRegular';
    --font-PoppinsExtraBold: 'PoppinsExtraBold';
    --font-PoppinsLight: 'PoppinsLight';
    --font-PoppinsMedium: 'PoppinsMedium';
    --font-PoppinsRegular: 'PoppinsRegular';
    --font-PoppinsSemiBold: 'PoppinsSemiBold';
    --font-PoppinsBold: 'PoppinsBold';


    /* color */
    --white: #FFFFFF;
    --black: #000000;
    --blue-f7: #969af7;
    --blue-6c: #2a336c;
    --dark-11: #111111;
    --dark-03: #030303;
    --dark-33: #333333;
    --grey-e3: #e3e3e3;
    --grey-66: #623666;
    --grey-ff: #f5f3ff;
    --grey-c4: #bcbfc4;
    --grey-c0: #c0c0c0;
    --grey-55: #555555;
    --orange-00: #ffa500;


    /* UI */

    --section-shadow: rgba(8, 24, 111, 0.2);
}