@import '_variable.scss';
@import '_fonts.scss';
@import '_mixin.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
}

body {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('../img/top-bg.png') no-repeat center top transparent;
        z-index: 1;

        @media (max-width:1024px) {
            background: url('../img/top-bg.png') no-repeat center -90px transparent;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

picture {
    display: inline-block;
    height: 100%;
    width: auto;
    object-fit: cover;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

picture:focus,
img:focus,
div:focus,
svg:focus {
    outline: none;
}


button,
input {
    display: inline-block;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    position: relative;
    max-width: var(--containerMaxWidth);
    margin: 0 auto;
    padding: 0 50px;
    z-index: 10;


    @media (max-width:1024px) {
        padding: 0 25px;
    }
}

/* header */

.header {
    position: sticky;
    top: 0;
    z-index: 15;
    transition: top ease-in-out .5s;

    &__scroll {
        top: -35px;
        background: linear-gradient(180deg, #6a32b4 0%, #552693 100%);
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 54px;
        padding-bottom: 20px;

        @media (max-width:1300px) {
            flex-direction: column;
            row-gap: 10px;
        }
    }

    &__logo {
        display: inline-flex;
        width: 155px;
        height: 28px;
        margin-right: auto;
        transition: transform ease-in-out .5s;

        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }

    &__nav {
        margin-right: auto;

        @media (max-width:1300px) {
            align-self: center;
            margin-right: 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 39px;

        @media (max-width:992px) {
            column-gap: 20px;
        }

        @media (max-width:768px) {
            column-gap: 15px;
        }
    }

    &__link {
        font-family: var(--font-FuturaLightCRegular), var(--font-standart);
        line-height: 123%;
        font-size: 18px;
        font-weight: 300;
        color: var(--white);
        transition: color ease-in-out .5s;

        &:hover,
        &:focus {
            color: var(--orange-00);
        }
    }

    &__tel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 9px;
        color: var(--white);
        cursor: pointer;
        transition: color ease-in-out .5s;

        @media (max-width:1300px) {
            align-self: flex-end;
        }

        &:hover,
        &:focus {
            color: var(--orange-00);
        }

        &-svg {
            width: 33px;
            height: 33px;
        }

        &-link {
            font-family: var(--font-FuturaFuturisCRegular), var(--font-standart);
            line-height: 123%;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

/* main */

.main {
    padding-top: 81px;

    @media (max-width:1024px) {
        padding-top: 40px;
    }
}

/* hero */

.hero {
    position: relative;
    padding-bottom: 177px;

    @media (max-width:1300px) {
        padding-bottom: 50px;
    }

    &__content {
        display: grid;
        grid-template-areas:
            "h1 form"
            "desc form"
            "list form";
        grid-template-columns: 1fr minmax(auto, 29.6875%);
        grid-template-rows: auto;
        column-gap: 53px;

        @media (max-width:768px) {
            column-gap: 25px;
        }
    }

    &__h1 {
        grid-area: h1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: var(--font-FuturaFuturisCRegular), var(--font-standart);
        line-height: 100%;
        font-size: 69px;
        font-weight: 700;
        color: var(--white);
        text-transform: uppercase;

        @media (max-width:1300px) {
            font-size: 60px;
        }

        @media (max-width:1024px) {
            font-size: 50px;
        }

        @media (max-width:992px) {
            font-size: 45px;
        }

        @media (max-width:768px) {
            font-size: 40px;
        }

        & span:nth-child(1) {
            font-size: 56px;
            color: var(--blue-f7);
            text-transform: lowercase;

            @media (max-width:1300px) {
                font-size: 50px;
            }

            @media (max-width:1024px) {
                font-size: 40px;
            }

            @media (max-width:992px) {
                font-size: 45px;
            }

            @media (max-width:768px) {
                font-size: 40px;
            }
        }

        & span:nth-child(2) {
            line-height: 123%;
            font-size: 61px;

            @media (max-width:1300px) {
                font-size: 55px;
            }

            @media (max-width:1024px) {
                font-size: 45px;
            }

            @media (max-width:992px) {
                font-size: 40px;
            }

            @media (max-width:768px) {
                font-size: 35px;
            }
        }
    }

    &__desc {
        grid-area: desc;
        font-family: var(--font-FuturaBookCRegular), var(--font-standart);
        line-height: 130%;
        font-size: 23px;
        font-weight: 400;
        color: var(--blue-f7);
    }

    &__list {
        grid-area: list;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 14px;
        font-family: var(--font-FuturaBookCRegular), var(--font-standart);
        line-height: 130%;
        font-size: 22px;
        font-weight: 400;
        color: var(--white);

        &-svg {
            width: 14px;
            height: 11px;
        }
    }

    &-form {
        grid-area: form;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        overflow: hidden;

        &__fieldset {
            width: 100%;
            border: none;
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 5px;
            padding: 31px 40px 36px 40px;
            background-color: var(--white);

            @media (max-width:1024px) {
                padding: 25px 20px 20px 25px;
            }

            @media (max-width:992px) {
                padding: 15px 15px 15px 20px;
            }
        }

        &__legend {
            width: 100%;
            text-align: right;
            padding: 36px 60px 6px 60px;
            font-family: var(--font-FuturaFuturisCBold), var(--font-standart);
            line-height: normal;
            font-size: 23px;
            font-weight: 700;
            color: var(--white);
            text-transform: uppercase;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
            background: linear-gradient(180deg, #6a32b4 0%, #552693 100%);

            @media (max-width:1300px) {
                font-size: 20px;
            }

            @media (max-width:1024px) {
                font-size: 18px;
                padding: 36px 30px 6px 30px;
            }

            @media (max-width:992px) {
                padding: 20px 15px 6px 15px;
            }

            @media (max-width:768px) {
                font-size: 15px;
            }
        }

        &__label {
            font-family: var(--font-FuturaBookCRegular), var(--font-standart);
            line-height: 129%;
            font-size: 18px;
            font-weight: 400;
            color: var(--grey-66);
        }

        &__input {
            width: 100%;
            padding: 21px 20px 16px 21px;
            border-radius: 10px;
            background-color: var(--grey-ff);
            box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);

            @media (max-width:992px) {
                padding: 15px 15px 16px 15px;
            }

            &::placeholder {
                font-family: var(--font-FuturaBookCRegular), var(--font-standart);
                line-height: 129%;
                font-size: 20px;
                font-weight: 400;
                color: var(--grey-c4);

                @media (max-width:992px) {
                    font-size: 18px;
                }
            }
        }

        &__button {
            width: 100%;
            margin-top: 34px;
            margin-bottom: 17px;
            text-align: center;
            padding: 19px 0 19px 0;
            font-family: var(--font-FuturaBookCRegular), var(--font-standart);
            line-height: 106%;
            font-size: 18px;
            font-weight: 400;
            color: var(--white);
            text-transform: uppercase;
            background-color: var(--orange-00);
            border-radius: 10px;
            transition: background ease-in-out .5s;

            @media (max-width:992px) {
                margin-top: 20px;
                margin-bottom: 15px;
                padding: 15px 0 15px 0;
                font-size: 16px;
            }

            &:hover,
            &:focus {
                background: linear-gradient(180deg, #6a32b4 0%, #552693 100%);
            }
        }

        &__privacy {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 10px;
            font-family: var(--font-FuturaBookCRegular), var(--font-standart);
            line-height: normal;
            font-size: 14px;
            font-weight: 400;
            color: var(--grey-c0);
        }

        &__svg {
            width: 16px;
            height: 16px;
            overflow: visible;
        }
    }
}

/* profitably */

.profitably {
    position: relative;
    padding-top: 115px;
    padding-bottom: 181px;

    &::before {
        position: absolute;
        content: '';
        top: -150px;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('../img/profitably-bg.png') no-repeat center bottom transparent;
        z-index: -1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__h2 {
        text-align: center;
        margin-bottom: 25px;
        font-family: var(--font-FuturaFuturisCBold), var(--font-standart);
        line-height: 100%;
        font-size: 45px;
        font-weight: 700;
        color: var(--dark-11);
    }

    &__desc {
        width: 83%;
        margin-bottom: 38px;
        text-align: center;
        font-family: var(--font-FuturaBookCRegular), var(--font-standart);
        line-height: 109%;
        font-size: 22px;
        font-weight: 400;
        color: var(--dark-03);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 43px;

        @media (max-width:1024px) {
            gap: 20px;
        }
    }

    &__item {
        width: calc((100% - 2*43px)/3);

        @media (max-width:1024px) {
            width: calc((100% - 2*20px)/3);
        }
    }

    &-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 40px 32px 61px 32px;
        border-radius: 10px;
        box-shadow: 0 4px 30px 0 rgba(9, 38, 192, 0.05);
        background: url('../img/profitably-bg-card.png') no-repeat right bottom var(--white);

        @media (max-width:992px) {
            padding: 30px 20px 40px 20px;
        }

        &__svg {
            width: 157px;
            height: 163px;
            margin-bottom: 39px;

            @media (max-width:992px) {
                margin-bottom: 20px;
            }
        }

        &__h3 {
            text-align: center;
            margin-bottom: 14px;
            font-family: var(--font-FuturaFuturisCBold), var(--font-standart);
            line-height: normal;
            font-size: 20px;
            font-weight: 700;
            color: var(--blue-6c);
        }

        &__desc {
            text-align: center;
            font-family: var(--font-FuturaBookCRegular), var(--font-standart);
            line-height: 110%;
            font-size: 20px;
            font-weight: 400;
            color: var(--grey-55);
        }
    }
}

/* manufacturers */

.manufacturers {
    position: relative;
    padding-top: 60px;
    padding-bottom: 200px;

    &::before {
        position: absolute;
        content: '';
        top: -57px;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('../img/manufacturers-bg.png') no-repeat center top;
        z-index: 2;
    }

    &__h2 {
        text-align: center;
        margin-bottom: 57px;
        font-family: var(--font-FuturaFuturisCBold), var(--font-standart);
        line-height: 100%;
        font-size: 45px;
        font-weight: 700;
        color: var(--white);
    }

    &__desc {
        font-family: var(--font-FuturaBookCRegular), var(--font-standart);
        line-height: 155%;
        font-size: 20px;
        font-weight: 400;
        color: var(--white);
    }
}

/* swiper */

.swiper {
    width: 100%;
    height: 174px;
    margin-bottom: 42px;

    &-wrap {
        position: relative;
    }

    &-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: var(--white);
        overflow: hidden;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);

        &__img {
            display: inline-flex;
            width: initial;
            height: auto;
        }
    }

    &-buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 108%;
        height: 41px;
        top: calc(50% - 20px);
        left: 50%;
        transform: translateX(-50%);

        @media (max-width:1300px) {
            top: -65px;
            width: 100px;
            right: 0;
            left: initial;
            transform: none;
        }
    }

    &-button {

        &-prev,
        &-next {
            position: relative;
            width: 41px;
            height: 41px;
            right: initial;
            left: initial;
        }

        &-prev::after,
        &-next::after {
            content: none;
        }
    }
}

/* scheme */

.scheme {
    position: relative;
    padding-bottom: 120px;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        top: -58px;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('../img/scheme-bg.png') no-repeat center bottom;
        z-index: -2;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    &__h2 {
        margin-bottom: 24px;
        font-family: var(--font-FuturaFuturisCBold), var(--font-standart);
        line-height: 100%;
        font-size: 45px;
        font-weight: 700;
        color: var(--dark-11);
    }

    &__desc {
        margin-bottom: 46px;
        font-family: var(--font-FuturaBookCRegular), var(--font-standart);
        line-height: 100%;
        font-size: 22px;
        font-weight: 400;
        color: var(--dark-33);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 268.37px);
        column-gap: 25px;
        row-gap: 30px;
        counter-reset: myCounter;
        margin-bottom: 38px;

        @media (max-width:1300px) {
            grid-template-rows: repeat(2, 250px);
            font-size: 15px;
        }

        @media (max-width:1200px) {
            grid-template-rows: repeat(2, 230px);
            font-size: 15px;
        }
    }

    &__item {
        position: relative;
        list-style: none;
        padding: 39px 28px 22px 97px;

        &::before {
            position: absolute;
            top: 31px;
            left: 30px;
            counter-increment: myCounter;
            content: '0'counter(myCounter);
            display: inline-block;
            width: 46px;
            height: 42px;
            font-family: var(--font-FuturaBookCRegular), var(--font-standart);
            line-height: normal;
            font-size: 36px;
            font-weight: 700;
            color: var(--blue-f7);
        }
    }

    &-article {
        &__h3 {
            margin-bottom: 10px;
            font-family: var(--font-FuturaFuturisCBold), var(--font-standart);
            line-height: 139%;
            font-size: 18px;
            font-weight: 700;
            color: var(--white);

            @media (max-width:1300px) {
                font-size: 16px;
                font-weight: 400;
            }
        }

        &__desc {
            font-family: var(--font-FuturaBookCRegular), var(--font-standart);
            line-height: 139%;
            font-size: 18px;
            font-weight: 400;
            color: var(--grey-e3);

            @media (max-width:1300px) {
                font-size: 15px;
                font-weight: 400;
            }
        }
    }

    &__item:nth-child(1)::after {
        @include schemeBg;
        right: -18px;
        background: url('../img/scheme-1-bg.png') no-repeat center center transparent;
        background-size: contain;
    }

    &__item:nth-child(2)::after {
        @include schemeBg;
        right: -25px;
        background: url('../img/scheme-2-bg.png') no-repeat center center transparent;
        background-size: contain;
    }

    &__item:nth-child(3) ::after {
        @include schemeBg;
        bottom: -29px;
        background: url('../img/scheme-3-bg.png') no-repeat center center transparent;
        background-size: contain;
    }

    &__item:nth-child(4) {
        order: 6;

        &::after {
            @include schemeBg;
            left: -26px;
            background: url('../img/scheme-4-bg.png') no-repeat center center transparent;
            background-size: contain;
        }
    }

    &__item:nth-child(5) {
        order: 5;

        &::after {
            @include schemeBg;
            left: -26px;
            background: url('../img/scheme-5-bg.png') no-repeat center center transparent;
            background-size: contain;
        }
    }

    &__item:nth-child(6) {
        order: 4;

        &::after {
            @include schemeBg;
            left: -4px;
            background: url('../img/scheme-6-bg.png') no-repeat center center transparent;
            background-size: contain;
        }
    }

    &__button {
        padding: 19px 72px 19px 72px;
        font-family: var(--font-FuturaFuturisCRegular), var(--font-standart);
        line-height: 106%;
        font-size: 18px;
        font-weight: 400;
        color: var(--white);
        text-transform: uppercase;
        border-radius: 10px;
        background-color: var(--orange-00);
        transition: background ease-in-out .5s;

        &:hover,
        &:focus {
            background: linear-gradient(180deg, #6a32b4 0%, #552693 100%);
        }
    }
}

/* questions */

.questions {
    position: relative;
    padding-top: 100px;
    padding-bottom: 82px;

    &::before {
        position: absolute;
        content: '';
        top: -58px;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('../img/questions-bg.png') center top no-repeat transparent;
        z-index: -1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 53px;
    }

    &__h2 {
        font-family: var(--font-FuturaFuturisCRegular), var(--font-standart);
        line-height: 100%;
        font-size: 45px;
        font-weight: 700;
        color: var(--white);

    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 14px;

        & .questions__item {
            border: none;

            &.acc_active>.acc_head {
                color: var(--white);
                background: url('../img/svg/arrow-up.svg') 97% center no-repeat, linear-gradient(180deg, #969af7 0%, #686eec 100%);
                border-bottom: none;
            }
        }

        & .questions__item .questions__desc {
            margin-top: -10px;
            padding: 49px 43px 45px 53px;
            font-family: var(--font-FuturaBookCRegular), var(--font-standart);
            line-height: 135%;
            font-size: 20px;
            font-weight: 400;
            color: var(--dark-33);
            background-color: var(--white);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            & span {
                display: inline-block;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }

        & .questions__item .questions__h3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 37px 30px 53px;
            font-family: var(--font-FuturaDemiCRegular), var(--font-standart);
            line-height: 117%;
            font-size: 24px;
            font-weight: 600;
            color: var(--dark-33);
            border-radius: 10px;
            box-shadow: 0 0 50px -10px rgba(22, 126, 194, 0.2);
            background: url('../img/svg/arrow-down.svg') 97% center no-repeat, linear-gradient(180deg, #fff 0%, #bdc0ff 100%);
            cursor: pointer;
        }
    }

    &__svg {
        width: 40px;
        height: 40px;
    }
}

/* accordion */

.accordionjs .acc_section:first-of-type,
.accordionjs .acc_section:first-of-type .acc_head {
    border-radius: 10px;
}

.accordionjs .acc_section:last-of-type,
.accordionjs .acc_section:last-of-type .acc_content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* footer */

.footer {
    padding-top: 71px;
    padding-bottom: 71px;
    background-color: var(--dark-33);

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;


        @media (max-width:1300px) {
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 36px;
    }

    &__link {
        font-family: var(--font-FuturaBookCRegular), var(--font-standart);
        line-height: 123%;
        font-size: 18px;
        font-weight: 400;
        color: var(--white);
    }

    &__logo {
        display: inline-flex;
        width: 189px;
        height: 34px;
        transition: transform ease-in-out .5s;

        &:hover,
        &:focus {
            transform: scaleX(1.1);
        }
    }

    &__button {
        padding: 19px 53px 19px 53px;
        font-family: var(--font-FuturaFuturisCRegular), var(--font-standart);
        line-height: 106%;
        font-size: 18px;
        font-weight: 400;
        color: var(--white);
        background-color: var(--blue-f7);
        border-radius: 10px;
        transition: background ease-in-out .5s;

        &:hover,
        &:focus {
            background: var(--orange-00);
        }
    }
}